javascript:
  var dispatcher = new WebSocketRails('localhost:3000/websocket');
  channel = dispatcher.subscribe('fridge');
  channel.bind('update', function(post) {
    console.log('log dat shit son');
    console.log(post);
  });

.title = @door.name
#door ng-controller="FridgeController"
    div.magnet id="{{magnet.id + '-magnet'}}" ng-repeat="magnet in magnets" ng-draggable="{stop:updateMagnet}" ng-style="{'left': magnet.x, 'top': magnet.y}" ng-drag-success=""
      | {{magnet.word}}